# 서버 기본 설정들

server:
  port: ${SERVER_PORT:8080}
  shutdown: graceful
  # tomcat tuning options (나중에 test 하면서 추가)
#  tomcat:
#    threads:
#      max: 200
#      min-spare: 30
#    max-connections: 700
#    accept-count: 300

spring:
  application:
    name: x-umc-product
  profiles:
    # 기본적으로 local 프로필을 활성화, 실수로 prod에 접근하는 것을 방지함
    active: local
  config:
    import:
      - optional:classpath:application-secret.yml
      - optional:file:/app/config/application-secret.yml
  docker:
    compose:
      enabled: false # Local DB를 위한 Compose는 기본적으로 비활성화

  mail:
    host: ${MAIL_HOST}
    port: ${MAIL_PORT}
    username: ${MAIL_USERNAME}
    password: ${MAIL_PASSWORD}
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true # 연결 후 TLS 암호화 시작 (보안 연결)
            required: true # TLS 암호화 필수 (실패시 연결 차단)
          connectiontimeout: 5000 # SMTP 서버 연결 대기 시간 5초
          timeout: 5000 # 읽기(Read) 타임아웃 5초
          writetimeout: 5000 # 메일 쓰기 전송 타임아웃 5초

  jackson:
    generator:
      write-numbers-as-strings: true

  datasource:
    url: ${DATABASE_URL}
    username: ${DATABASE_USERNAME}
    password: ${DATABASE_PASSWORD}
    driver-class-name: org.postgresql.Driver

    hikari:
      auto-commit: true

      maximum-pool-size: ${HIKARI_MAX_POOL_SIZE:10}
      minimum-idle: ${HIKARI_MIN_IDLE:10}

      # 3. 수명 및 타임아웃
      max-lifetime: 1800000       # 30분
      connection-timeout: 30000   # 30초
      validation-timeout: 5000    # 5초

      keepalive-time: 60000       # DB에 1분마다 생존 신고 (유휴 커넥션 방지)

  flyway:
    enabled: true

  jpa:
    # database-platform은 SpringBoot가 hibernate-spatial 의존성을 기반으로 자동으로 선택함
    # 따라서 포함하지 않도록 함.
    hibernate:
      ddl-auto: validate
    open-in-view: false
    properties:
      hibernate:
        format_sql: true
        # dialect는 명시가 불필요해서 생략
        show_sql: false # p6spy가 있어서 꺼둠


# swagger 설정
springdoc:
  swagger-ui:
    path: /docs # Swagger 경로
    enabled: false # 기본적으로 비활성화 (prod에 노출되는 경우 방지용)
    operations-sorter: method # API 정렬 (method, alpha)
    tags-sorter: alpha # 태그 정렬

  api-docs:
    path: /docs-json # API 문서 경로
    enabled: false

logging:
  level:
    root: INFO

    # 애플리케이션 기본값
    com.umc.product: INFO

    # Spring Framework
    org.springframework.web: INFO
    org.springframework.security: INFO

    # JPA/Hibernate
    org.hibernate.SQL: WARN
    org.hibernate.orm.jdbc.bind: WARN  # 파라미터 숨김

    # 트랜잭션
    org.springframework.transaction: INFO
    org.springframework.orm.jpa: INFO

    # 시끄러운 로그 제거
    org.springframework.web.client.DefaultRestClient: WARN
    org.apache.http: WARN
    com.zaxxer.hikari: WARN

management:
  server:
    port: ${MANAGEMENT_PORT:9090}
  endpoint:
    health:
      show-details: always
  endpoints:
    web:
      exposure:
        include: "health,info,metrics,prometheus,tracing"
  tracing:
    enabled: true
    sampling:
      probability: ${TRACE_SAMPLING_PROBABILITY:0.1}
    # 지금은 내보내지 않음, Grafana Tempo로 연동하도록 추후 추가
  #  otlp:
  #    tracing:
  #      endpoint: ${TEMPO_URL}

  metrics:
    enable:
      jvm: true
      process: true
      http: true
      jdbc: true # DB 쿼리 메트릭
      #      rabbitmq: true # messaging, 사용 시 추가
      system: true # CPU, 메모리 등 시스템 메트릭
      tomcat: true # 톰캣 스레드풀, 세션 메트릭
      hikaricp: true # HikariCP 커넥션 풀 메트릭
      logback: true # 로그 레벨별 카운트
      cache: true # 캐시 사용 시
      spring.security: true # Spring Security 인증 메트릭

  prometheus:
    metrics:
      export:
        enabled: true
